In [6]:
maths=int(input("enter your marks"))
english=int(input("enter your marks"))
science=int(input("enter your marks"))
average=maths+english+science
percent=(average/300)*100
print(percent)
if(percent>80 and percent<=100):
    print("A grade")
elif(percent>60 and percent<=80):
    print("B garde")
elif(percent>50 and percent<=60):
    print("C grade")
elif(percent>45 and percent<=50):
    print("D grade")
elif(percent>25 and percent<=45):
    print("E grade")
elif(percent<25):
    print("F garde")
else:
    print("input is not valid")

enter your marks 45
enter your marks 75
enter your marks 45

55.00000000000001
C grade

In [11]:
#salary
employee='kartikey'
print(employee)
holiday=int(input("enter holidays"))
salary=int(input("enter your salary"))
if(holiday==1):
           print(salary)
elif(holiday>1 and holiday<=5):
    salary_deducted=salary/100*5
    print(salary_deducted)
    total_salary=salary-salary_deducted
    print(total_salary)

kartikey

enter holidays 4
enter your salary 12500

625.0
11875.0

In [12]:
#electicity bill
name='Kartikey'
unit=int(input("enter unit"))
amount=unit*10
print(amount)
if(unit>=1 and unit<=10):
    discount=amount/100*10
    print(discount)
    total_amount=amount-discount
    print("total_amount",total_amount)

enter unit 4

40
4.0
total_amount 36.0

In [18]:
#temperature
a=input("enter any charcter")
if(a=='f'):
    celsius=int(input("enter temperature"))
    fehrenheit=(1.8*celsius)+32
    print(fehrenheit)
elif(a=='c'):
    fehrenheit=float(input("enter temperatur"))
    celsius=(fehrenheit-32)*5/9
    print(celsius)

enter any charcter c
enter temperatur 113

45.0

In [23]:
#swap number without third variable
a=int(input("enter number"))
b=int(input("enter number"))
print("value before swapping",a,b)
a=a+b
b=a-b
a=a-b
print("value after swapping",a,b)

enter number 45
enter number 50

value before swapping 45 50
value after swapping 50 45

In [22]:
#swap number with third variable
a=int(input("enter number"))
b=int(input("enter number"))
print("value before swapping",a,b)
c=a
a=b
b=c
print("value after swapping",a,b)

enter number 45
enter number 20

value before swapping 45 20
value after swapping 20 45

In [25]:
# division by 5 and 9
a=int(input("enter number"))
if(a%5==0  and a%9==0):
    print("divisible by both")

enter number 45

divisible by both

In [2]:
#list
#append,extend,insert,remove,pop,index,clear,count,reverse,
li=[67,12,5,6,254,5,4]
print(li)

[67, 12, 5, 6, 254, 5, 4]

In [3]:
#append
li.append(45)
print(li)

[67, 12, 5, 6, 254, 5, 4, 45]

In [5]:
#extend
li.extend([47,6,6,65,515,45])
print(li)

[67, 12, 5, 6, 254, 5, 4, 45, 47, 6, 6, 65, 515, 45]

In [6]:
li.insert(4,45)
print(li)

[67, 12, 5, 6, 45, 254, 5, 4, 45, 47, 6, 6, 65, 515, 45]

In [7]:
li.remove(6)
print(li)

[67, 12, 5, 45, 254, 5, 4, 45, 47, 6, 6, 65, 515, 45]

In [8]:
li.pop(1)
print(li)

[67, 5, 45, 254, 5, 4, 45, 47, 6, 6, 65, 515, 45]

In [9]:
li.pop(-3)
print(li)

[67, 5, 45, 254, 5, 4, 45, 47, 6, 6, 515, 45]

In [10]:
li.index(5)

1

In [11]:
li.count(5)

2

In [13]:
li.clear()
print(li)

[]

In [14]:
#tuple
tuple=(41,5,1,5,51,True,3.5,'fdhfjh')
print(tuple)

(41, 5, 1, 5, 51, True, 3.5, 'fdhfjh')

In [16]:
#even or odd
num=int(input("Enter your number"))
if(num%2==0):
    print("even")
else:
    print("odd")

Enter your number 4

even

In [19]:
#vowel
a=input('enter any character')
if(a=='a' or a=='e' or a=='i' or a=='o' or a=='u'):
    print("vowel")
else:
    print("consonant")

enter any character e

vowel

In [24]:
#adms
a=input('enter an character')
if(a=='a'):
    num1=int(input("enter the value"))
    num2=int(input("enter the value"))
    print(num1+num2)
elif(a=='s'):
    num1=int(input("enter the value"))
    num2=int(input("enter the value"))
    print(num1-num2)

enter an character s
enter the value 45
enter the value 43

2