In [1]:
print('hello')

hello

In [4]:
#print funtion
#concatenation
#f-string
print('my age is ',22)
age=22
print(f'my age is ,{age}')

my age is  22
my age is ,22

In [5]:
print('my name is kk',end=' ')
print('i am a student')

my name is kk i am a student

In [10]:
#new line character
# print('jaipur is a nice city',end=' \n')
# print('its in rajasthan',end=' ')
# print('its in india')

print('my name is kartikey',end='**')
print('i am from bhilwara',end='\n')
print('bhilwara is nice city')

my name is kartikey**i am from bhilwara
bhilwara is nice city

In [8]:
#data types
#string
#int
#float
#boolean
a=12
print(type(a))

<class 'int'>

In [9]:
#conversion of data types
#str(variable to be converted)
#int (variable)
#bool ,float(variable)
str(a)

'12'

In [11]:
a=21
float(a)

21.0

In [12]:
str(a)

'21'

In [15]:
a='jaipur'
float(a)
#this is will show error

ValueError: could not convert string to float: 'jaipur'

In [14]:
bool(a)

True

In [17]:
b=21
bool(b)

True

In [18]:
c=21.0
bool(c)

True

In [19]:
str(c)

'21.0'

In [20]:
str(b)

'21'

In [21]:
d=0
float(d)

0.0

In [22]:
bool(d)

False

In [23]:
e=''
bool(e)

False

In [24]:
str(e)

''

In [25]:
int(e)

ValueError: invalid literal for int() with base 10: ''

In [26]:
float(e)

ValueError: could not convert string to float: ''

In [29]:
#operators
#artihmetic operator
#(+,-,/,*,//,%,**)
a=10
b=20
print(a+b)
print(a-b)
print(a*b)
print(b/a)
print(a%b)
print(a//b)
print(a**b)

30
-10
200
2.0
10
0
100000000000000000000

In [30]:
#comparison operator
#(==,!=,<,>,<=,>=)
print(a == b)
print(a!=b)
print(a<b)
print(a>b)
print(a<=b)
print(a>=b)

False
True
True
False
True
False

In [33]:
#assignment operator
#unary operand
#(+=,-=,*=,/=,%=,//=,**=)
x=5
x+=2
print(x)
x-=3
print(x)
x*=3
print(x)
x/=2
print(x)
x**=3
print(x)
x//=2
print(x)
x%=2
print(x)

7
4
12
6.0
216.0
108.0
0.0

In [32]:
y=23
y+=3
print(y)
y-=2
print(y)
y*=2
print(y)
y/=2
print(y)
y**=3
print(y)
y//=2
print(y)
y%=2
print(y)

26
24
48
24.0
13824.0
6912.0
0.0

In [ ]:
#5 + 4 -3 **6 // 5 *6 /7 %3
# x=5
# x+=4
# print( homework)