In [2]:
# 1. Create a set containing the unique elements from the list [1, 2, 2, 3, 4, 4].
unique_elements=set({1,2,3,5,6,6,6,7})
unique_elements

{1, 2, 3, 5, 6, 7}

In [3]:
# 2. Write code to check if one set is a subset of another.
set_a={1,2,3}
set_b={1,2,3,4,5}
is_subset=set_a.issubset(set_b)
is_subset

True

In [4]:
# 3. Create a set of vowels and check which vowels are present in the string "hello"
vowels={'a','e','i','o','u'}
string="hello"
present_vowel=set(vowels).intersection(set(string))
present_vowel

{'e', 'o'}

In [5]:
# 4. How would you find the symmetric difference between two sets?
set_x={1,2,3}
set_y={3,4,5}
symmetric_diff=set_x.symmetric_difference(set_y)
symmetric_diff

{1, 2, 4, 5}

In [6]:
# 5. Create a set from a string and then check if the character &#39;a&#39; is present.
my_string="abracadabra"
my_set=set(my_string)
myset= "a" in my_string
myset

True

In [10]:
# 6. Write code that removes an element from a set without raising an error if the element is not
#found.
myset={1,2,3}
myset=myset.discard(4)
myset

In [11]:
# 7. Given two sets, find their intersection and create a new set from it.
set1={1,2,3}
set2={3,4,5}
intersection=set1.intersection(set2)
intersection

{3}

In [14]:
# 9. Write a code snippet to check if two sets are disjoint.
set_b={6,7,8,9}
disjoint=set_a.isdisjoint(set_b)
disjoint

True

In [15]:
# 10. Create a frozenset from a set and explain the difference between a set and a frozenset.
myset3={1,2,3}
frozen=frozenset(myset3)
frozen
# A frozenset is immutable ,meaning you cannot add or remove elements from i

frozenset({1, 2, 3})

In [16]:
# 11. How would you convert a list to a set and remove duplicates?
list=[1,2,2,2,3,5]
set5=set(list)
set5

{1, 2, 3, 5}

In [17]:
# 12. Write code to find the union of multiple sets.
set6={1,2,3,4,5}
set7={6,7,3,8,9}
union=set6.union(set7)
union

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [18]:
# 13. Create a set containing the characters in the string &quot;hello world&quot; excluding spaces.
string="hello world"
char=set(string.replace(" ",""))
char

{'d', 'e', 'h', 'l', 'o', 'r', 'w'}

In [19]:
# 14. Given a set, write code to get the maximum and minimum elements in the set.
s={1,2,3,4,5,9,8}
set=max(s)
set

9

In [20]:
set=min(s)
set

1

In [21]:
# 15. How can you clear all elements from a set?
my_set={2,3,5,8,0,6,34}
my_set.clear()
my_set

set()

In [22]:
# 16. Create two sets and find all elements that are in the first set but not in the second.
set1={1,2,4,5,6,7}
set2={4,5,6,7,9}
difference=set1.difference(set2)
difference

{1, 2}

In [24]:
# # 17. Write code to find the total number of unique elements in a list.
# list=[1,2,3,4,5,6,7]
# unique=len(set(list))
# unique

In [26]:
# 18. Create a set of prime numbers from 1 to 20.
set={2,3,5,7,11,13,17,19}
set

{2, 3, 5, 7, 11, 13, 17, 19}

In [27]:
# 19. Write a code snippet that checks if a set is a superset of another set.
set1={1,2,3,4,5,6}
set2={2,3,4}
superset=set1.issuperset(set2)
superset

True

In [ ]:
# 20. Create a set that contains the intersection of three different sets.
set_a={1,2,3}
set_b={2,3,5}
set_c={3,4,5,7}
intersection=set_a.intersection(set_b,set